 body {
        font-family: Arial, sans-serif;
        background: #262627;
        color: #edf2f4;
        text-align: center;
        padding: 50px;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
        color: #ef233c;
        text-shadow: 2px 2px #000;
    }
    input {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        width: 150px;
        text-align: center;
        margin-right: 10px;
    }
    button {
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        background-color: #ef233c;
        color: #edf2f4;
        cursor: pointer;
        transition: 0.3s;
    }
    button:hover {
        background-color: #d90429;
    }
    #result {
        margin-top: 30px;
        font-size: 1.2em;
        background: rgba(0,0,0,0.3);
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
    }
